<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeEditForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success"
                  [disabled]="recipeEditForm.invalid"
          (click)="onSave()">Save</button>
          <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Method</label>
            <textarea type="text" class="form-control" id="method" rows="6" formControlName="method"></textarea>
          </div>
        </div>
      </div>

      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-5">
              <label>Ingredient Name</label>
            </div>
            <div class="col-xs-2">
              <label>Quantity</label>
            </div>
            <div class="col-xs-3">
              <label>Unit</label>
            </div>
            <div class="col-xs-2">
            </div>
          </div>
          <div class="row" *ngFor="let ingCtrl of getControls(); let i =index"
               [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-5">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-3">
              <select class="form-control" formControlName="unit">
                <option [value]="unit" *ngFor="let unit of units">{{unit}}</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onX(i)">X</button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" style="margin-top: 10px;" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
